body {
  background: linear-gradient(135deg, #0f2027, rgb(86, 141, 159), #2c5364);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.card {
  background: rgba(0,0,0,0.4);
  margin-top: 0px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.105);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ff758f;
}

.hidden {
  display: none;
}

.img1{
  width: 200px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}
.img2{
  width: 300px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

img, #secret {
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
